classes/
logs/
data/
log/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.clover

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jasper

### Gradle ###
.gradle
gradlew.bat
/build/
!gradle/wrapper/gradle-wrapper.jar
.DS_Store

### OUT ###
out/

### Resources ###
*version.properties
bin
